In [9]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import cross_validate
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

In [14]:
result = pd.read_csv("DataBaru.csv")
result.index += 1
result.head()

   Umur  Rokok  Alkohol  Hasil
1    42     24        1      1
2    39     17        1      1
3    21      7        1      1
4    41     10        0      0
5    17     12        0      1

In [16]:
np_data = result.iloc[:,:-1].values
np_target = result['Hasil'].values

In [18]:
clf = svm.SVC(kernel='linear', gamma=0.001, C=100)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(np_data,np_target,test_size=0.2, random_state=None)

In [21]:
X_train

array([[37,  4,  0],
       [34, 17,  1],
       [36,  4,  1],
       ...,
       [34,  2,  1],
       [17, 23,  0],
       [23, 24,  1]], dtype=int64)

In [22]:
clf.fit(X_train, y_train)

SVC(C=100, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.001, kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [23]:
scoring = ['accuracy', 'precision', 'recall']
scores = cross_validate(clf, X_test, y_test, scoring=scoring, cv=5, return_train_score=True)

In [24]:
scores

{'fit_time': array([0.02400303, 0.02001786, 0.02399898, 0.00807691, 0.06248713]),
 'score_time': array([0., 0., 0., 0., 0.]),
 'test_accuracy': array([0.57142857, 0.55      , 0.55      , 0.55      , 0.42105263]),
 'train_accuracy': array([0.55696203, 0.5625    , 0.5625    , 0.5625    , 0.56790123]),
 'test_precision': array([0.57142857, 0.55      , 0.55      , 0.55      , 0.5       ]),
 'train_precision': array([0.55696203, 0.5625    , 0.5625    , 0.5625    , 0.5862069 ]),
 'test_recall': array([1.        , 1.        , 1.        , 1.        , 0.63636364]),
 'train_recall': array([1.        , 1.        , 1.        , 1.        , 0.75555556])}

In [25]:
scores['test_accuracy']

array([0.57142857, 0.55      , 0.55      , 0.55      , 0.42105263])

In [26]:
df_scores = pd.DataFrame.from_dict(scores)
df_scores.index +=1
df_scores

,fit_time,score_time,test_accuracy,train_accuracy,test_precision,train_precision,test_recall,train_recall
1,0.024003,0.0,0.571429,0.556962,0.571429,0.556962,1.000000,1.000000
2,0.020018,0.0,0.550000,0.562500,0.550000,0.562500,1.000000,1.000000
3,0.023999,0.0,0.550000,0.562500,0.550000,0.562500,1.000000,1.000000
4,0.008077,0.0,0.550000,0.562500,0.550000,0.562500,1.000000,1.000000
5,0.062487,0.0,0.421053,0.567901,0.500000,0.586207,0.636364,0.755556

In [27]:
import pickle
pickle.dump(clf, open('model.pkl','wb'))